.navigationSearch {
  display: flex;
  justify-content: space-evenly;
  .navTabs {
    display: flex;
  }
  .addAgent {
    background-color: white;
    align-self: center;
    padding: 16px 25px;
    font-size: 18px;
  }
  form {
    position: absolute;
    width: 260px;
    top: 52px;
    left: 190px;
    border: 1px solid #00b4cf;
    padding: 20px 20px;
    background-color: white;
    z-index: 10;
    div {
      padding: 6px 0;
      button {
        padding: 6px 0;
      }
    }
  }
}
