@import '../../../../styles/shared.scss';

.statusCard {
  width: 30%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  &.yellow {
    background-color: $yellow;
  }
  &.green {
    background-color: $green;
  }
  .status {
    font-size: $largeFront;
    font-family: 'cruise';
    font-weight: bold;
    align-self: flex-start;
    padding-top: 14px;
  }
  .icon {
    font-size: 144px;
    align-self: center;
    opacity: 20%;
  }
  .countNumber {
    font-size: $xLargeFront;
    align-self: flex-end;
    padding-bottom: 26px;
  }
}
