@import '../../../../styles/shared.scss';

.statusCard {
  width: 28%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 6px;
  &.yellow {
    background-color: $yellow;
  }
  &.green {
    background-color: $green;
  }
  .status {
    font-size: $largeFont;
    font-family: 'cruise';
    font-weight: bold;
    align-self: flex-start;
    padding-top: 14px;
  }
  .icon {
    font-size: 144px;
    align-self: center;
    opacity: 20%;
    &.icon-cog {
      animation: circle 4s infinite linear;
    }
  }
  @keyframes circle {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .countNumber {
    font-size: $xlargeFont;
    align-self: flex-end;
    padding-bottom: 26px;
  }
  .icon-cog {
    animation: circle 2s infinite linear;
  }
}
