@import '../../../styles/shared.scss';

.searchPart {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  padding: 15px 25px 14px 25px;
  align-self: center;
  background-color: #fff;
  .displyStyles {
    display: flex;
    justify-content: flex-end;
  }
  .icon-search {
    position: relative;
    right: 150px;
  }
  .icon-th-card,
  .icon-th-list,
  .icon-th-card,
  .icon-th-list {
    padding-left: $xsmallFont;
  }
  .active {
    color: $lightskyBlue;
  }
}
