@import '../../../styles/shared.scss';

.customButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 30px;
  padding: 1rem;
  margin: 0;
  outline: none;
  color: #fff;
  font-size: $smallFont;
  background-color: $lightskyBlue;

  .icon {
    margin-right: 0.5rem;
  }
}
