@import '../../../../styles/shared.scss';

.resourcePopup {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 574px;
  border: 1px solid $lightskyBlue;
  box-shadow: 0 3 5px (#000 30%);
  padding: 20px;
  position: absolute;
  top: 420px;
  left: 506px;
  z-index: 100;
  background-color: #fff;
  input {
    margin-top: 10px;
    height: 25px;
  }
  .upperTriangle {
    position: absolute;
    left: 16px;
    top: -21px;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent $lightskyBlue;
  }
  .upperTriangleCover {
    position: absolute;
    left: 16px;
    top: -20px;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent #fff;
  }
  .closeButton {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: $largeFont;
    font-weight: bolder;
    color: $lightskyBlue;
    cursor: pointer;
  }
  .addAndCancelButtons {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    button {
      margin-right: 10px;
      cursor: pointer;
    }
    #cancelButton {
      background-color: $greyBlue;
      box-shadow: none;
    }
  }
}
