@import '../../../../../styles/shared.scss';

.countContainer {
  display: flex;
  width: 28%;
  text-align: center;
  align-items: center;
  padding: 0 2%;
  background-color: #fff;
  .all,
  .physical,
  .virtual {
    height: 80%;
    justify-content: space-around;
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    font-size: $xsmallFont;
  }
  .allNumber,
  .physicalNumber,
  .virtualNumber {
    font-size: $largerFont;
    font-weight: bold;
  }

  @media (max-width: $desktop) {
    flex-direction: column;
    justify-content: space-evenly;
    .all,
    .physical,
    .virtual {
      flex-direction: row;
      padding-top: 0;
      flex: 0 1 auto;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .allNumber,
    .physicalNumber,
    .virtualNumber {
      padding-top: 0;
    }
  }
  @media (max-width: $phone) {
    flex-direction: row;
    .all,
    .physical,
    .virtual {
      flex: 1 1 28%;
      display: flex;
      flex-direction: column;
    }
  }
}
