$yellow: #ff9a2a;
$green: #7fbc39;
$lightskyBlue: #00b4cf;
$darkskyBlue: #01869a;
$greyBlue: #435466;
$blackBlue: #2d4054;
$lightGrey: #f3f3f3;
$darkGrey: #e1e4e6;

// front size
$xsmallFront: 12px;
$smallFront: 14px;
$mediumFront: 16px;
$largeFront: 18px;
$largerFront: 20px;
$xLargeFront: 48px;

//icon size
$smallIconSize: 16px;
$iconSize: 20px;
