@import '../../styles/shared.scss';
.topHeader {
  background-color: white;
  box-shadow: 0 1px 5px #e6e6e6;
  border: 1px solid #e6e6e6;
  padding: 12px 10%;
  text-align: center;
  .icon-navicon {
    float: left;
    cursor: pointer;
  }
  .icon-navicon {
    display: none;
  }

  .headerTitle:after,
  .headerTitle:before {
    content: ' ';
    display: table;
  }
  .headerTitle:after {
    clear: both;
  }

  .headerTitle {
    .headerTitleLogo {
      width: 100px;
      height: 40px;
    }
  }
  .userInformation {
    position: relative;
    float: right;
    .avtarImg {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 25px;
      cursor: pointer;
    }
    .showUserFunction {
      position: absolute;
      right: -32px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      top: 56px;
      width: 120px;
      height: 80px;
      background-color: white;
      span {
        display: inline-block;
        align-self: flex-start;
        height: 26px;
        width: 100%;
        line-height: 26px;
        margin: 6px 0;
        padding: 0 6px;
      }
      span:hover {
        background-color: #efefef;
      }
    }
    .hideUserFunction {
      display: none;
    }
  }
}

@media (max-width: $tablet) {
  .topHeader {
    padding: 12px 1%;
    .icon-navicon {
      float: left;
      font-size: 20px;
      padding-top: 10px;
    }
    .icon-navicon {
      display: block;
    }
  }
}
