@import '../../../../../styles/shared.scss';
.resources {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .resourceItems {
    display: flex;
  }
  .resourceNameList {
    display: flex;
  }
  .icon-plus {
    padding: 4px 6px;
    margin-right: 10px;
    font-size: 18px;
    color: #fff;
    background-color: $lightskyBlue;
    cursor: pointer;
  }
  li {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    margin-right: 12px;
    background-color: #efefef;
    cursor: pointer;
  }
  .icon-trash {
    padding-left: 0.5rem;
  }
  .denyButton {
    font-size: $smallFont;
    height: 30px;
    background-color: $lightskyBlue;
    color: #fff;
    border: 0;
  }
  .favoriteSelected {
    background-color: $darkskyBlue;
  }
  .favoriteHide {
    visibility: hidden;
  }
}
