.sideBarContainer {
  width: 268px;
  color: #fff;
  background-color: #2d4054;

  .item {
    padding: 13px 0;
  }
  .item:hover {
    padding: 13px 0;
    color: #00b4cf;
  }
  .sideBarItem {
    list-style: none;
    padding-left: 30px;
  }
  .history span {
    padding-left: 4px;
    display: inline-block;
    padding: 13px 0;
  }
  .history li {
    padding: 4px 0;
  }
}
