@import '../../../styles/shared.scss';

.filter {
  display: inline-block;
  padding: 1rem 30px;
  line-height: 1;
  border-right: 1px solid $lightGrey;
  font-size: $largeFont;
  background-color: #fff;
  cursor: pointer;
}
