@import '../../../styles/shared.scss';
.navTabs {
  .filter {
    display: inline-block;
    padding: 15px 25px;
    line-height: 1;
    border-right: 1px solid $lightGrey;
    font-size: $largeFont;
    background-color: #fff;
    cursor: pointer;
    &.active {
      border-bottom: 2px solid $lightskyBlue;
    }
  }
}
