@import '../../../styles/shared.scss';
.navTabs {
  .filter {
    padding: 15px 25px;
    border-right: 1px solid $lightGrey;
    border-bottom: 2px solid transparent;
    font-size: $largeFont;
    background-color: #fff;
    align-self: center;
    cursor: pointer;
    &.active {
      border-bottom: 2px solid $lightskyBlue;
    }
  }
}
