@import '../../../styles/shared.scss';

.agentItem {
  display: flex;
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  .icon {
    padding-right: 0.5rem;
    font-size: 16px;
  }
  .itemlogo {
    flex: 0 1 100px;
  }
  img {
    width: 80px;
  }
  .agentItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 1 auto;
  }
  .itemInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .urlAddress {
    font-weight: bold;
  }
  .agentStatus {
    padding: 2px 10px;
    color: #fff;
    &.green {
      background-color: $green;
    }
    &.yellow {
      background-color: $yellow;
    }
  }
}
