@import-normalize;
@import './styles/shared.scss';
@import './styles/font_icons/fonts.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $blackBlue;
  font-family: 'Avenir, Arial, Helvetica, sans-serif';
  font-size: $smallFont;

  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
}
