@import '../../styles/shared.scss';

.mainContent {
  flex-direction: column;
  flex: 1 1 auto;
  padding: 20px 0 0 30px;

  @media (max-width: $desktop) {
    padding: 12px 1% 0;
  }

  .agentResourceContainer {
    padding-top: 20px;
  }

  .navigationSearch {
    display: flex;
  }
}
